* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span, p {
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, textarea, label {
  font-size: 18px !important;
}

textarea {
  resize: none;
}

html {
  font-size: 24px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
  font-weight: 600;
}
.btn.btn-outline-light:hover {
  color: #43b02a;
}
.btn.btn-outline-success {
  border-color: #43b02a;
  color: #43b02a;
}
.btn.btn-outline-success:hover {
  background-color: #43b02a;
  color: #fafafa;
}
.btn.btn-success {
  border-color: #43b02a;
  background-color: #43b02a;
}
.btn.btn-success:hover {
  background-color: #3a9e24;
  border-color: #3a9e24;
}

.darkBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.534);
  opacity: 1;
  pointer-events: all;
}

.header {
  background-color: #43b02a;
  color: #fafafa;
}

.main {
  position: relative;
  padding: 40px 0;
}

.modal_ {
  display: block;
  position: fixed;
  overflow-y: hidden;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 24px 48px;
  border-radius: 14px;
}

.modal_title {
  font-size: 30px;
  margin: 0;
}

.modal_header::after, .modal_footer::before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  z-index: 1;
  width: 98%;
  height: 20px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.modal_header::after {
  bottom: -30px;
  background: linear-gradient(to bottom, #fafafa, transparent);
}
.modal_header.dark::after {
  background: linear-gradient(to bottom, #1d1d1d, transparent);
}

.modal_close {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  margin-left: 20px;
}

.modal_body {
  max-height: 65vh !important;
  overflow-y: auto;
  position: relative;
  padding: 10px;
  margin: 15px 0;
}
.modal_body::-webkit-scrollbar {
  height: 100%;
  width: 12px;
}
.modal_body::-webkit-scrollbar-track {
  background-color: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}
.modal_body::-webkit-scrollbar-thumb {
  background-color: #43b02a;
  border-radius: 10px;
}

.modal_footer {
  margin-top: 10px;
  position: relative;
}
.modal_footer::before {
  top: -30px;
  background: linear-gradient(to top, #fafafa, transparent);
}
.modal_footer.dark::before {
  background: linear-gradient(to top, #1d1d1d, transparent);
}

.products__item {
  margin-top: 40px;
  width: 32%;
}

.product.dark .product-photo {
  border-color: #292929;
}

.product-photo {
  max-width: 100%;
  height: auto;
  border: 3px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.product-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform .2s ease;
}

.product-title {
  position: relative;
  font-size: 0.7rem;
  height: 1.8rem;
  overflow: hidden;
}

.addReviewForm {
  max-width: 600px;
  top: 50%;
  transform: translateY(-50%);
}

.reviews {
  max-height: 100vh;
  max-width: 800px;
  top: 0;
}

.reviews-body {
  padding-left: 0px;
}

.review {
  border: 3px solid #cccccc;
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 20px;
}
.review:last-child {
  margin-bottom: 0;
}

.review-header {
  font-size: 14px;
  margin-bottom: 24px;
}

.review-date {
  margin: 0;
}

.review-from {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-right: 8px;
}

.review-rate {
  margin-left: 16px;
}

.review-body {
  font-size: 16px;
}

.review-message {
  margin-bottom: 0;
}

.prosCons-title {
  font-size: 18px;
  margin: 16px 0 6px 0;
}

.prosCons-icon {
  margin-right: 6px;
}

.star {
  display: inline-block;
  fill: #727272;
}
.star.active {
  fill: #ffbd2e;
}

label .star {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
